@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Old+Uyghur&family=Shippori+Mincho+B1&family=Ysabeau+Infant:ital,wght@0,1..1000;1,1..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Artifika&family=Castoro:ital@0;1&family=Noto+Serif+Old+Uyghur&family=Shippori+Mincho+B1&family=Ysabeau+Infant:ital,wght@0,1..1000;1,1..1000&display=swap');

/*Selector Universal*/
*{
    margin: 0;
    padding: 0;
 }



/*Selector de etiqueta*/
body{
    background-color: #82adab;
    color: white;
    }

ul{
   text-align: center;
   padding: 10px;
   font-family: "Noto Serif Old Uyghur", serif;
  }

li{
   display: inline;
   margin: 3em;
   padding: 10px 30px;
  }

  li a{
    text-decoration: none;
}

  li a:hover{
             color: #34706d ;
             text-decoration: none;
             list-style: none;
             font-size: 17px;
            }

   a{
        text-decoration: none;
        color: #000;
       
    }

    a:visited{
        color: #021a18;
    }

    a:hover{
        color:#34706d ;
        font-size: 17px;
    }

    a:active{
        color: rgb(54, 35, 63);
    }

    button{
        border: none;
        outline: 0;
        display: inline black;
        padding: 8px;
        color: white;
        background-color: #000;
        text-align: center;
        width: 100%;
        font-size: 15px;
        font-family: "Noto Serif Old Uyghur", serif;

    }



/*Selector de ID */
#contenedor{
            width: 900px;
            height: 5250px;
            background-color: #cbe2e1;
            margin: 10px;
            padding: 20px;
           }

#encabezado{
            width: 96%;
            background-color: #82adab;
            margin: 1em;
            border-radius: 5px;
            text-align: center;           
           }

#menu{
      height: 42px;
      background-color: #82adab;
      margin: 1em;
      border-radius: 5px;
     }

#pie{
        background-color:#82adab;
        margin: 1.5em;
        height: 20px;
        text-align: center;
        padding: 5px;
        border-radius: 5px;
}


.left{
    text-align: left;
    padding-top: 12px;
    font-size: 13px;
    font-family: "Castoro", serif;
}

.right
{
    text-align: right;
    padding-right: 80px;
   
    font-size: 13px;
    font-family: "Castoro", serif;
}



/*Selector de clase*/
.img{
    width: 400px;
    border-radius: 20px;
    justify-items: center;
    }

 .sub{
    color: #000;
    font-family: "Castoro", serif;
    font-size: 28px;
    text-decoration-line: underline;
 }

 
     .card{
        box-shadow: 0 4px  8px 0 black;
        overflow: hidden;
        max-width: 310px;
        margin: auto;
        text-align: center;
        border: 2px solid;
        border-radius: 10px;
        border: white;
        

       }

       .card img {
        width: 80%;    
    }


.title{
    color: #000;
    font-size: 18px;
}

.noto {
    font-family: "Noto Serif Old Uyghur", serif;
    font-weight: 400;
    text-align: justify;
    font-size: 17px;
    color: #000;
    padding: 7px 21px;
    font-style: normal;
  }
  
  .castoro {
    font-family: "Castoro", serif;
    font-weight: 400;
    font-style: normal;
    color: #000;
    padding: 7px 21px;
  
  }

